<!DOCTYPE html>
<html>
  <head>
    <title>My 1st Angular App</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="andyNews" ng-controller="MainCtrl">

    <section id="welcome">
      {{test}}
    </section>

    <section id="add-new-post">
      <form ng-submit="addPost()">
        <label for="new-post-title">Title: </label>
        <input id="new-post-title" type="text" ng-model="title"></input>
        <br>
        <label for="new-post-link">Link: </label>
        <input id="new-post-link" type="text" ng-model="link"></input>
        <br>
        <button id="add-post-button" type="submit">Post</button>
      </form>
    </section>

    <section ng-repeat="post in posts | orderBy: '-upvotes'">
      <p>Title: <span>{{post.title}}</span>
         <span ng-show="post.link">Link: <a href="{{post.link}}">{{post.link}}</a>
         </span>
         upvotes: <span>{{post.upvotes}} </span>
         <button ng-click="incrementUpvotes(post)">^</button>
      </p>
    </section>

  </body>
</html>
